<div class="share-section">

    <button class="share-main" type="button">

        <div class="share-button-content">

            <img
    id="share-button-icon"
    src=""
    alt="Share"
    width="24"
    height="24"
    loading="lazy">

            <span id="share-button-text">Share</span>

        </div>

    </button>

</div>

<div id="share-modal" class="share-modal">

    <div class="share-content">

        <div class="close-container">
            <span class="close-btn">✖</span>
        </div>

        <h2 id="share-title">
            Share this page!
        </h2>

        <div class="share-icons"></div>

        <button class="button copy-btn" type="button">
        <span id="copy-button-text">
            🔗 Copy URL
        </span>
    </button>

    </div>

</div>