<!--;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;                                                                            ;;
;;                     ----==| П Р Е Л О А Д Е Р |==----                      ;;
;;                                                                            ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;-->
    <div id="preloader">
    <img
        class="preloader-logo"
        src="https://cdn.topfhelm.com/art/TopfHelm-logo.webp"
        alt="TopfHelm">

    <div class="loader-bar"></div>
</div>