<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;                                                                            ;;
;;                         ----==| F O O T E R |==----                        ;;
;;                                                                            ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;-->

<footer class="site-footer">

    <div class="footer-inner">

        <div class="footer-logo">
            TopfHelm
        </div>

        <div class="footer-links">

            <div class="footer-column">
                <h4>Explore</h4>

                <a href="/">Home</a>
                <a href="/the-emerald-saga/">The Emerald Saga</a>
                <a href="/dungeon-synth-artists/">Dungeon Synth Bestiary</a>
                <a href="/composer">Composer</a>
            </div>

            <div class="footer-column">
                <h4>Music</h4>

                <a href="https://open.spotify.com/artist/5NHkqDnmyOUMMUrHy2n9Mq">Spotify</a>
                <a href="https://topfhelm.bandcamp.com/">Bandcamp</a>
                <a href="https://www.instagram.com/topfhelmmusic/">Instagram</a>
            </div>

            <div class="footer-column">
                <h4>Support</h4>

                <a href="https://boosty.to/topfhelm/donate">Boosty</a>
                <a href="https://paypal.me/topfhelmmsc">PayPal</a>
            </div>

        </div>

        <div class="footer-copy">
            © 2026 TopfHelm. All rights reserved.
        </div>

    </div>

</footer>