<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;                                                                            ;;
;;                ----==| C O N T A C T   B U T T O N |==----                 ;;
;;                                                                            ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;-->
    <!-- Всплывающее модальное окно с формой -->
    <div id="contactModal" class="modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2>Contact</h2>
            <form id="contactForm" action="https://formspree.io/f/xanewaek" method="POST">
                <label for="name">Your Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Your Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>

                <!-- Honeypot (скрытое поле для защиты от ботов) -->
                <input type="text" name="_gotcha" style="display:none">
                
                <button type="submit">Send</button>
            </form>
            <p id="form-status"></p>
        </div>
    </div>