<!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;                                                                                ;;
;;               ----==| С О Ц И А Л Ь Н Ы Е   С Е Т И |==----                    ;;
;;                                                                                ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;-->

<!-- Основная панель -->
<div id="social-container">

    <div class="social-icons">

        <a href="https://open.spotify.com/artist/5NHkqDnmyOUMMUrHy2n9Mq" target="_blank" rel="noopener">
            <img src="/icons/icons8-spotify.svg" alt="Spotify" loading="lazy">
        </a>

        <a href="https://topfhelm.bandcamp.com/" target="_blank" rel="noopener">
            <img src="/icons/icons8-bandcamp.svg" alt="Bandcamp" loading="lazy">
        </a>

        <a href="https://www.instagram.com/topfhelmmusic/" target="_blank" rel="noopener">
            <img src="/icons/icons8-insta.svg" alt="Instagram" loading="lazy">
        </a>

        <a href="https://www.tiktok.com/@topfhelmmusic" target="_blank" rel="noopener">
            <img src="/icons/icons8-tiktok.svg" alt="TikTok" loading="lazy">
        </a>

        <a href="https://vk.com/topfhelmmusic" target="_blank" rel="noopener">
            <img src="/icons/6214734_logo_vk_vkontakte_icon.svg" alt="VK" loading="lazy">
        </a>

        <a href="https://www.youtube.com/@TopfHelmMusic" target="_blank" rel="noopener">
            <img src="/icons/icons8-youtube.svg" alt="YouTube" loading="lazy">
        </a>

    </div>

</div>

<!-- Панель, появляющаяся при прокрутке -->
<div id="fixed-social-bar">

    <div class="social-icons">

        <a href="/" id="home-link" aria-label="Home">
            <img src="/icons/home.svg" alt="Home" loading="lazy">
        </a>

        <a href="https://open.spotify.com/artist/5NHkqDnmyOUMMUrHy2n9Mq" target="_blank" rel="noopener">
            <img src="/icons/icons8-spotify.svg" alt="Spotify" loading="lazy">
        </a>

        <a href="https://topfhelm.bandcamp.com/" target="_blank" rel="noopener">
            <img src="/icons/icons8-bandcamp.svg" alt="Bandcamp" loading="lazy">
        </a>

        <a href="https://www.instagram.com/topfhelmmusic/" target="_blank" rel="noopener">
            <img src="/icons/icons8-insta.svg" alt="Instagram" loading="lazy">
        </a>

        <a href="https://www.tiktok.com/@topfhelmmusic" target="_blank" rel="noopener">
            <img src="/icons/icons8-tiktok.svg" alt="TikTok" loading="lazy">
        </a>

        <a href="https://vk.com/topfhelmmusic" target="_blank" rel="noopener">
            <img src="/icons/6214734_logo_vk_vkontakte_icon.svg" alt="VK" loading="lazy">
        </a>

        <a href="https://www.youtube.com/@TopfHelmMusic" target="_blank" rel="noopener">
            <img src="/icons/icons8-youtube.svg" alt="YouTube" loading="lazy">
        </a>

    </div>

</div>