body.tes-body footer {
    background: #050505; /* глухой чёрный */

    color: #aaa;
    text-align: center;

    padding: 40px 20px;
    margin-top: 0;

    border-top: 1px solid rgba(255,255,255,0.08);
}

body.tes-body footer p {
    margin: 0;
    font-size: 14px;
}

/* HOME (главный акцент) */
.footer-nav {
    margin-bottom: 14px;
    padding-bottom: 20px;
}

.footer-nav a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #aaa;

    text-decoration: none;
    transition: all 0.25s ease;
}

.footer-nav a:hover {
    color: #e5ffe5;
    text-shadow: 0 0 10px rgba(120,200,140,0.25);
}

/* копирайт */
.footer-copy {
    margin: 0;
    font-size: 13px;
    color: #666;
}